/* TERMS */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* dir ===== direction */
/* cl ===== color */
/* bg ===== background */
/* col ===== column */
/* row ===== row */
/* txt ===== text */
/* fnt ===== font */
/* top ===== top */
/* btm ===== bottom */
/* lft ===== left */
/* rgt ===== right */
/* mrg ===== margin */
/* pad ===== padding */
/* nne ===== none */
/* dir ===== direction */
/* dir ===== direction */
/* dir ===== direction */
/* dir ===== direction */
/* dir ===== direction */
/* dir ===== direction */
/* dir ===== direction */
/* dir ===== direction */
/* dir ===== direction */
/* dir ===== direction */
/* dir ===== direction */
/* dir ===== direction */
/* dir ===== direction */
/* dir ===== direction */
/* dir ===== direction */
/* dir ===== direction */






/* bg-cl ===== background-color */
/* bg-cl ===== background-color */
/* bg-cl ===== background-color */
/* bg-cl ===== background-color */
/* bg-cl ===== background-color */
/* bg-cl ===== background-color */
/* bg-cl ===== background-color */
/* bg-cl ===== background-color */


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* TERMS */


/* GLOBAL */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* GLOBAL */

/* LINKS */

.txt-dir-nne {
    text-decoration: none;
}

.txt-dec-und{
    text-decoration: underline;
}

/* LINKS */

/* MARGINS AND PADDINGS */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.m-8 {
    margin: 8px;
}

.m-16 {
    margin: 16px;
}

.m-32 {
    margin: 32px;
}

.mar-48 {
    margin: 48px;
}

.cld-mar-48 > *{
    margin: 48px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}
.mar-top-16{
    margin-top: 16px;
}
.mar-top-48{
    margin-top: 48px;
}
.mar-top-64{
    margin-top: 64px;
}
.mar-top-128{
    margin-top: 128px;
}

.mt-32 {
    margin-top: 32px;
}

.mar-tp-48 {
    margin-top: 48px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-48 {
    margin-bottom: 48px;
}
.mar-btm-8{
    margin-bottom: 8px;
}
.mar-btm-16{
    margin-bottom: 16px;
}
.mar-btm-64{
    margin-bottom: 64px;
}
.mar-btm-128{
    margin-bottom: 128px;
}
.mr-8 {
    margin-right: 8px;
}

.mr-16 {
    margin-right: 16px;
}

.mr-32 {
    margin-right: 32px;
}

.mar-48 {
    margin-right: 48px;
}
.cld-mar-btm-16 > *{
    margin-bottom: 16px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-16 {
    margin-left: 16px;
}

.ml-32 {
    margin-left: 32px;
}

.ml-48 {
    margin-left: 48px;
}

.p-8 {
    padding: 8px;
}

.p-16 {
    padding: 16px;
}

.p-32 {
    padding: 32px;
}

.pad-48 {
    padding: 48px;
}

.pt-8 {
    padding-top: 8px;
}

.pt-16 {
    padding-top: 16px;
}

.pt-32 {
    padding-top: 32px;
}

.pad-top-48 {
    padding-top: 48px;
}
.pad-tp-64 {
    padding-top: 64px;
}

.pb-8 {
    padding-bottom: 8px;
}
.pad-btm-8{
    padding-bottom: 8px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pb-32 {
    padding-bottom: 32px;
}

.pb-48 {
    padding-bottom: 48px;
}

.pr-8 {
    padding-right: 8px;
}

.pr-16 {
    padding-right: 16px;
}

.pr-32 {
    padding-right: 32px;
}

.pr-48 {
    padding-right: 48px;
}

.pl-8 {
    padding-left: 8px;
}

.pl-16 {
    padding-left: 16px;
}

.pl-32 {
    padding-left: 32px;
}

.pl-48 {
    padding-left: 48px;
}

.cld-pad-tp-48 > *{
    padding-top: 48px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* MARGINS AND PADDINGS */

/* FLEX */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.flex{
    display: flex;
}
.flex-dir-col{
    flex-direction: column;
}
.grid{
    display: grid;
}
.cld-grid > *{
    display: grid;
}
.grid-tmp-col-1f3f{
    grid-template-columns: 1fr 3fr;
}
.cld-grid-tmp-col-1f2f > *{
    grid-template-columns: 1fr 2fr;
}
.grid-temp-col-1f1f1f{
    grid-template-columns:  1fr 1fr 1fr;
}
.algn-self-end{
    align-self: end;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* FLEX */
/* COLOR */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.bg-cl-black{
    background-color: black;
}
.cl-white{
    color: white;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* COLOR */

.fs14 {
    font-size: 14px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fs22 {
    font-size: 22px;
}

.fs24 {
    font-size: 24px;
}

.fs32 {
    font-size: 32px;
}

.cw {
    color: white;
}

.cb {
    color: black;
}

.bcw {
    background-color: white;
}

.bcb {
    background-color: black;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.grid-temp-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-temp-col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.gap-200{
    gap: 200px;
}

.br-4 {
    border-radius: 4px;
}

.br-8 {
    border-radius: 8px;
}